$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90vw;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  justify-content: space-around;
  @media screen and(min-width: $tablet) {
    width: 50vw;
  }
  @media screen and(min-width: $desktop) {
    width: 30vw;
  }
}
