.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30vw;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  justify-content: space-around;
}
