$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;

.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
  min-height: 5vh;
  width: 100vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  background: #a7c7e7;
  a {
    color: white;
    text-decoration: none;
  }
  ul {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    @media screen and(min-width: $mobile) {
      display: flex;
      justify-content: space-evenly;
    }
  }
  li {
    position: relative;
    margin: 1rem 0;
    @media screen and(min-width: $mobile) {
      margin: 0;
      margin: 0 1rem;
    }
  }
}

.line {
  height: 0.2rem;
  background: #e3edf7;
  width: 0%;
  position: absolute;
  bottom: -40%;
  left: 0%;
  @media (max-width: 1300px) {
    left: 0%;
  }
}
