@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Lobster&display=swap");

$transition: 0.3s all ease-in-out;
$header: "Lobster", cursive;
$paragraph: "Chivo", sans-serif;
$blue: #a7c7e7;
$green: #a0e7a0;

$mobile: 400px;
$tablet: 768px;
$desktop: 1024px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

button {
  font-family: $paragraph;
  font-weight: 100;
  height: auto;
  cursor: pointer;
  border: none;
  padding: 0.25rem;
  margin: 0 0.5rem;
  border: 1px solid $blue;
  color: $blue;
  background: transparent;
  transition: $transition;
  &:hover {
    background: $blue;
    color: white;
  }
}

input,
label {
  font-family: $paragraph;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: smaller;
  font-weight: lighter;
}

h2:first-letter {
  text-transform: uppercase;
}

.info__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  h1 {
    font-size: 1.5rem;
    align-self: center;
    margin: auto 0;
    color: #a7c7e7;
    margin: 0.5rem 0;
  }
  .info__container-children {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
      h2 {
        font-size: 1rem;
      }
      h3 {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

.fire {
  &:is(header) {
    background: linear-gradient(0deg, white, #e7c7a7) !important;
  }
  &:is(h1) {
    color: #e7c7a7 !important;
  }
}

.rock,
.ground {
  &:is(header) {
    background: linear-gradient(0deg, white, #d5b79f) !important;
  }
  &:is(h1) {
    color: #d5b79f !important;
  }
}

.bug,
.grass {
  &:is(header) {
    background: linear-gradient(0deg, white, $green) !important;
  }
  &:is(h1) {
    color: $green !important;
  }
}

.psychic,
.electric {
  &:is(header) {
    background: linear-gradient(0deg, white, #fdfd96) !important;
  }
  &:is(h1) {
    color: #fdec96 !important;
  }
}

.normal {
  &:is(header) {
    background: linear-gradient(0deg, white, $blue) !important;
  }
  &:is(h1) {
    color: $blue !important;
  }
}

.water {
  &:is(header) {
    background: linear-gradient(0deg, white, #6ba1d7) !important;
  }
  &:is(h1) {
    color: #6ba1d7 !important;
  }
}

.poison,
.ghost {
  &:is(header) {
    background: linear-gradient(0deg, white, #c3b1e1) !important;
  }
  &:is(h1) {
    color: #c3b1e1 !important;
  }
}

.fairy {
  &:is(header) {
    background: linear-gradient(0deg, white, #f8c8dc) !important;
  }
  &:is(h1) {
    color: #f8c8dc !important;
  }
}

.fighting {
  &:is(header) {
    background: linear-gradient(0deg, white, #d1d1d1) !important;
  }
  &:is(h1) {
    color: #d1d1d1 !important;
  }
}
